ion-icon[id$="-success"], ion-icon[id$="-fail"] {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

ion-icon[id$="-fail"] {
  color: #ee675d;
}

ion-icon[id$="-success"] {
  color: #4acf7f;
}

ion-icon {
  font-size: 48px;
  vertical-align: middle;
  position: absolute;
}

.siimple-label {
  display: block;
}

.siimple-input {
  color: #546778;
  border: 3px solid #ac94e8;
  background-color: white;
  padding: 24px 12px;
  font-size: 32px;
  line-height: 36px;
  font-family: inherit;
  vertical-align: middle;
}

.siimple-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a8bed0;
}

.pre-input {
  display: inline-block;
  vertical-align: middle;
  font-size: 32px;
  line-height: 36px;
}

#is-contributor {
  font-size: 32px;
  padding: 18px;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 2;
}

.modal {
  border-radius: 5px;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 650ms ease-in-out;
  background-color: white;
  z-index: 3;

  width: 400px;
  position: fixed;
  margin-left: 20px;
  margin-right: 20px;
}

.modal-content {
  height: 100%;
  padding: 20px;
}

.modal-text {
  margin: 20px 0;
}

.in {
  opacity: 1;
  top: 45%;
}

.res-buttons .siimple-btn {
  display: none;
}
